@using PortfolioSite.Models
@model List<Repo>

<h1>Projects</h1>
<p>Here are some of my most poular GitHub repos:</p>

<div class="project-panels">
  @foreach (Repo repo in Model)
  {
    <a href="@repo.Html_Url" target="_blank">
      <div class="project-panel">
        <p class="project-name"><b>@repo.Name</b></p>
        <p class="project-last-update"><b>Last Updated:</b> @repo.Updated_At.ToString("yyyy-MM-dd")</p>
        <p class="project-language"><b>Language:</b> @repo.Language</p>
        <p class="project-stars"><b>Stars:</b> @repo.Stargazers_Count</p>
        <p class="project-link"><b>Click for more info</b></p>
      </div>
    </a>
  }
</div>